<%= form_with(model: meeting_room, local: true) do |form| %>
  <% if meeting_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting_room.errors.count, "error") %> prohibited this meeting_room from being saved:</h2>

      <ul>
      <% meeting_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :meeting_room_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :meeting_room_description %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon, id: :meeting_room_icon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
